html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

section {
	float: left;
	width: 60%;
	height: 93vh;
	text-align: center;
	overflow-y: auto;
}

img {
	max-width: 100%;
	max-height: 99.5%;
}

div.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div.header {
	margin-top: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 10vw;
	width: 80vw;
	cursor: pointer;
}

div.section_content {
	margin: 1vw;
	text-align: justify;
	text-justify: inter-word;
	font-size: 2vh;
}

div.section_content > img {
	margin: 1vw;
	max-width: 60%;
	max-height: 80%;
	float: right;
}

h1.header {
	margin-top: 0;
	margin: 0;
	padding: 0;
	font-size: 4vh;
}

p.header {
	margin-top: 0;
	margin: 0;
	padding: 0;
	font-size: 2vh;
}

header, footer {
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

header {
	height: 7vh;
}

.mobile_menu {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 4vh;
	cursor: pointer;
	display: none;
}

.sidenav {
	height: 93vh;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 7vh;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: none;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

nav {
	width: 20%;
	height: 93vh;
	margin: 0;
	padding: 0;
	overflow: auto;
}

nav.left {
	float: left;
}

nav.right {
	float: right;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #f1f1f1;
	height: 100%;
	overflow: auto;
}

li {
	width: 100%;
	height: 33%;
}

li a {
	width: 100%;
	height: 100%;
	display: block;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	font-size: 1.75vw;
	text-align: center;
}

li a.active {
	background-color: #4CAF50;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

@media screen and (max-aspect-ratio: 4/5)
{
	nav	{
		display: none;
	}
	section {
		width: 100%;
	}
	.sidenav {
		display: inline;
	}
	.mobile_menu {
		display: inline;
	}
	div.section_content	{
		font-size: 3vh
	}
	div.section_content > img {
		margin: 1vw;
		max-width: 100%;
		max-height: 100%;
		float: none;
	}
}
