html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

section {
	position: absolute;
	left: 20vw;
	top: 7.5vh;
	width: 60vw;
	height: 92.5vh;
	text-align: center;
	overflow-y: auto;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
}

section.wallpaper {
	background-image: url("/static/caryesl.jpg");
}

img {
	max-width: 100%;
	max-height: 99.5%;
}

div.container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a.header {
	margin-top: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 17.5vw;
	width: 67vw;
	cursor: pointer;
	background-color: none;
	color: white;
	text-decoration: none;
}

a.header:hover {
	color: lightgray;
}

div.Russian {
	display: none;
}

div.section_content {
	margin: 1vw;
	text-align: justify;
	text-justify: inter-word;
	font-size: 1.5rem;
}

div.section_content > img {
	margin: 1vw;
	max-width: 60%;
	max-height: 80%;
	float: right;
}

span.emphasize {
	color: darkgreen;
	font-weight: bold;
}

div.section_content > table {
	border-spacing: 10px 3px;
	border: 3px solid lightgray;
	border-collapse: collapse;
	text-align: center;
}

tr:nth-child(even) {
	background-color: lightgray;
}

tr:hover {
	background-color: lightgreen;
}

a.header > h1 {
	margin-top: 0;
	margin: 0;
	padding: 0;
	font-size: 4vh;
}

a.header > p {
	margin-top: 0;
	margin: 0;
	padding: 0;
	font-size: 2.5vh;
}

header, footer {
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

header {
	height: 7.5vh;
}

a.home_icon {
	position: absolute;
	top: 0.75vh;
	right: 0.6vw;
	color: white;
	font-size: 4vh;
}

a.home_icon > img {
	filter: invert(100%);
	width: auto;
	height: 5.5vh;
	border: 0.25vmin solid black;
	border-radius: 1vmin;
	background-color: white;
}

a.home_icon > img:hover {
	filter: invert(0%);
}

a.home_icon > div {
	display: none;
}

button.language {
	position: absolute;
	top: 0.75vh;
	left: 0.6vw;
	background-color: black;
	color: white;
	border: 0.25vmin solid white;
	border-radius: 1vmin;
	padding: 0.25vw 0.25vh;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 4vh;
	cursor: pointer;
	outline: none;
}

button.language:hover {
	background-color: white;
	color: black;
	border: 0.25vmin solid black;
}

.mobile_menu {
	position: absolute;
	top: 1vh;
	right: 1.5vw;
	font-size: 5vh;
	cursor: pointer;
	display: none;
}

.sidenav .closebtn {
	display: none;
}

nav {
	width: 20vw;
	height: 92.5vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav.left {
	float: left;
}

nav.right {
	float: right;
}

nav a {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 30.75vh;
	display: block;
	background-color: #f1f1f1;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	font-size: 1.75vw;
	text-align: center;
}

nav a.active {
	background-color: #4CAF50;
	color: white;
}

nav a:hover:not(.active) {
	background-color: #555;
	color: white;
}

@media screen and (max-aspect-ratio: 4/5)
{
	button.language {
		top: 1vh;
	}

	.sidenav {
		height: 92.5vh;
		width: 0vw;
		position: fixed;
		z-index: 1;
		top: 7.5vh;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		display: inline;
	}

	.sidenav > .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 10vw;
		margin-left: 50px;
		display: inline;
	}

	.sidenav.open {
		width: 60vw;
	}

	a.home_icon {
		position: static;
		top: auto;
		right: auto;
		color: #818181;
		font-size: 5vw;
	}

	a.home_icon > img {
		display: none;
	}

	a.home_icon > div {
		display: block;
	}

	a.home_icon > div:hover {
		color: #f1f1f1;
	}

	nav {
		height: auto;
		width: 100%;
		display: block;
	}

	nav.left {
		float: none;
	}

	nav.right {
		float: none;
	}

	.sidenav a {
		height: auto;
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		color: #818181;
		transition: 0.3s;
		display: block;
	}

	nav a {
		background-color: transparent;
		color: #818181;
		text-align: left;
		font-size: 5vw;
	}

	nav a:hover:not(.active) {
		background-color: transparent;
	}

	nav a.active {
		background-color: transparent;
		color: #818181;
	}

	nav a:hover {
		color: #f1f1f1;
	}

	div.section_content {
		font-size: 3vh;
	}

	section {
		left: 0vw;
		width: 100vw;
		background-size: cover;
	}

	.mobile_menu {
		display: inline;
	}

	div.section_content > img {
		margin: 1vw;
		max-width: 98%;
		max-height: 100%;
		float: none;
	}
}
